:root {
    --main-bg-color: #fff;
    --main-text-color: #000;
    
    --main-header-color: rgba(224, 98, 0, 0.8);
    --main-accent-color: rgb(224, 98, 0);
    --text-on-accent-color: #eee;
    
    --secondary-bg-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Helvetica, Arial;
    text-align: center;
    margin-top: 60px;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: var(--main-accent-color);*/
}

@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
    header {
        /* "!important" is needed so that the set value gets overwritten */
        background-color: var(--main-header-color);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

@supports (not (backdrop-filter: blur(20px))) and (not (-webkit-backdrop-filter: blur(20px))) {
    header {
        /* "!important" is needed so that the set value gets overwritten */
        background-color: var(--main-accent-color);
    }
}

header .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: var(--text-on-accent-color);
    font-weight: bold;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

article h1 {
    margin-bottom: 0;
    text-decoration: underline;
    text-decoration-color: var(--main-accent-color);
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.pubdate {
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: smaller;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--main-accent-color);
    color: var(--text-on-accent-color);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

.grid {
    display: grid;
}

.grid.main-grid {
    grid-template-columns: 50px 300px 1fr 300px 50px;
    grid-template-rows: 100px 1fr;
}

.sidebar {
    grid-column: 2;
    grid-row: 2;
    border-radius: 10px;
    background: var(--secondary-bg-color);
}


.wrapper.main-wrapper {
    grid-column: 3;
    grid-row: 1/-1;
}

.sidebar .list {
    background: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 10px;
    padding-top: 20px;
}

.sidebar .list span {
  background: var(--main-accent-color);
  padding: 8px;
  border-radius: 10px;
  box-sizing: content-box;
  color: var(--text-on-accent-color);
}

.booklist-book {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0px auto 20px 1fr;
    grid-gap: 20px;
}

.booklist-book:not(:last-child) {
    border-bottom: 1px solid var(--main-accent-color);
    padding-bottom: 10px;
}

.sidebar .list .cover {
    grid-row: 2 / -1;
    grid-column: 1;
}

.sidebar .list .booktitle {
    grid-row: 2;
    grid-column: 2;
    font-weight: bold;
}

.sidebar .list .bookauthor {
    grid-row: 3;
    grid-column: 2;
}

.sidebar .list .bookstartdate {
    grid-row: 4;
    grid-column: 2;
}

img.social, .social.svg-image {
    height: 1em;
    margin-right: 5px;
    color: white;
}

.social.svg-image + a {
  vertical-align: top;
}

.list.social-list div {
  padding-left: 10%;
  text-align: left;
  margin-top: 0.25em;
}

.list.social-list div:first-of-type {
  margin-top: 20px;
}

footer {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #333;
        --main-text-color: #fff;
        
        --main-header-color: rgba(224, 98, 0, 0.8);
        --main-accent-color: rgb(224, 98, 0);
        --text-on-accent-color: #eee;
        
        --secondary-bg-color: #444;
    }
}

@media(max-width: 1200px) {
    .grid.main-grid {
        grid-template-columns: 30px fit-content(300px) 1fr 30px;
    }
}

@media(max-width: 800px) {
    .wrapper {
        padding: 40px 20px;
    }
    .grid.main-grid {
        grid-template-columns: 20px fit-content(300px) 1fr 20px;
    }
}

@media(max-width: 700px) {
    .grid.main-grid {
        grid-template-columns: 20px fit-content(200px) 1fr 20px;
    }
    
    .booklist-book {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        justify-items: center;
        margin-top: 20px;
    }
    
    .sidebar .list .cover {
        grid-row: 3;
        grid-column: 1;
    }
    
    .sidebar .list .booktitle {
        grid-row: 1;
        grid-column: 1;
    }
    
    .sidebar .list .bookauthor {
        grid-row: 2;
        grid-column: 1;
    }
}

@media(max-width: 600px) {
    grid.main-grid {
        grid-template-rows: 100px 1fr auto;
    }
    
    .wrapper.main-wrapper {
        grid-column: 1/-1;
        grid-row: 1/3;
    }
    
    .sidebar {
        grid-column: 1/-1;
        grid-row: 3;
        padding: 0 20px;
        margin: 0 20px 20px;
    }
    
    .booklist-book {
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3,auto);
        justify-items: center;
        margin-top: 20px;
    }
    
    .sidebar .list .cover {
        grid-row: 1/-1;
        grid-column: 1;
    }
    
    .sidebar .list .booktitle {
        grid-row: 1;
        grid-column: 2;
    }
    
    .sidebar .list .bookauthor {
        grid-row: 2;
        grid-column: 2;
    }
}

@media(max-width: 400px) {
   .sidebar {
        margin: 0 5px 20px;
    }
}
