:root {
    --main-bg-color: #fff;
    --main-text-color: #000;
    
    --main-header-color: rgba(193, 84, 1, 0.8);
    --main-accent-color: rgb(193, 84, 1);
    --text-on-accent-color: #eee;
    
    --secondary-bg-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #333;
        --main-text-color: #fff;
        
        --main-header-color: rgba(193, 84, 1, 0.8);
        --main-accent-color: rgb(193, 84, 1);
        --text-on-accent-color: #fff;
        
        --secondary-bg-color: #444;
    }
}

* {
    fill: var(--main-accent-color);
}
